<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <meta name="google-site-verification" content="iePOmkHL--ZFhJWuPL7bup6Nk4CbiOViNxhiz_D7yXI" />

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="author" content="<%= author %>">

        <!--  Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="app.<%= app_version %>/<%= app_name %>/favicon.ico">
        <link rel="apple-touch-icon" href="app.<%= app_version %>/<%= app_name %>/apple-touch-icon.png">

        <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
        <script src="jslib/modernizr/modernizr-<%= jslib_modernizr_version %>.min.js"></script>

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/combo?<%= jslib_yui_version %>/build/cssfonts/fonts-min.css&<%= jslib_yui_version %>/build/cssreset/reset-min.css&<%= jslib_yui_version %>/build/cssgrids/grids-min.css&<%= jslib_yui_version %>/build/cssbase/base-min.css">
	<link rel="stylesheet" type="text/css" href="app.<%= app_version %>/<%= app_name %>/assets/<%= app_name %>.css">

    </head>
    <body>

        <div id="container">
            <%- body %>
        </div> 
        <!--! end of #container -->

        <!-- Javascript at the bottom for fast page loading -->

        <!-- Grab Yahoo CDN's YUI -->
        <script src="//yui.yahooapis.com/<%= jslib_yui_version %>/build/yui/yui-min.js"></script>

        <!-- scripts concatenated and minified via ant build script-->
        <script src="app.<%= app_version %>/<%= app_name %>/<%= app_name %>.js"></script>
        <!-- end concatenated and minified scripts-->

        <!-- asynchronous google analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '<%= analyticssiteid %>']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </body>
</html>
